body {
    background-color: #f8f9fa;
    text-align: center;
    font-family: sans-serif;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 17px;
}

img {
    width: 330px;
}

p {
    font-size: 27px;
    margin-top: 30;
}

form{
    background-color: #f8f9fa; 
    padding-bottom: 28px;
    border: 3.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divInput input {
    border-radius: 5px;
    padding: 10px 70px;
    border: 1px solid #ccc;
    text-align: center;
}

.divInput input:focus {
    border-color: #aad4f9; 
    border-width: 2px;
    outline: none;
    text-align: center;
}

.divInput{
    padding: 6px;
}

input::placeholder {
    text-align: center;
    color: rgb(127, 127, 127);
  }

#divCheckBox {
    color: rgb(125, 125, 125);

}


button{
    border-radius: 5px;
    padding: 15px 25px;
    background-color: #aad4f9;
    font-weight: bold;
    margin-top: 13px;
}